.content {
  background-color: #fdbe35;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.title {
  color: rgba(255, 255, 255, 1);
  font-family: Qwigley;
  font-weight: 400;
  font-size: 88px;
  line-height: 100%;
  margin: 0;
}
.loc {
  margin-top: 50px;
  flex: 1 1 300px;
}
.sub-title {
  color: rgba(80, 79, 79, 1);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  margin: 10px 0 20px 0;
}

.search-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
  width: 100%; 
  max-width: 580px; 
}

.delivery {
  background-color: white;
  padding: 10px 10px;
}

.delivery button {
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
}
.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 6px;
  background: #f5f5f5;
}

.search-bar button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f65900;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
}

.img img {
  max-width: 500px; 
  height: auto;
}
