.meal-card {
  display: inline-block;
  padding: 20px;
}
.meal-card img {
  width: 200px;
  height: 210px;
}
.meal-card h6 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 22px;
  color: rgba(66, 66, 66, 1);
  text-align: center;
}
.meal-card button {
  display: block;
  color: white;
  background-color: rgba(241, 114, 40, 1);
  border: none;
  border-radius: 5px;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 18px;
  margin: 10px auto;
}
